# Python itself must be >= 3.7 as of Jul 2020 (formerly required 3.4.2)
pytest>=5.4.3
pyqt5>=5.4
reportlab # for printing
pyserial # for com port / USB communication
requests # for forwarding locator information as a GET request for sarsoft
fdfgen
pypiwin32
pyproj>=2.6.1 # for calculations involving coordinates ("projections")
